platforms/ios/www/css/style.css

platforms/ios/www/index.html

platforms/ios/www/js/APItoBackend.js

platforms/ios/www/js/carrello.js

platforms/ios/www/js/catalogo.js

platforms/ios/www/js/eventListener.js

platforms/ios/www/js/genericFunctions.js

platforms/ios/www/js/login.js

platforms/ios/www/js/sidebarMenu.js

platforms/ios/www/js/storageManager.js

platforms/ios/www/js/tour.js

platforms/ios/www/script.js

platforms/ios/www/application_setup.json

platforms/ios/www/js/app.js

platforms/ios/www/js/config.js

platforms/ios/www/js/lib/cart.js

platforms/ios/www/images/close.png
