
.n1{
	background: url('flag/6.png') no-repeat center center;
}
.n2{
	background: url('flag/3.png') no-repeat center center;
}
.n3{
	background: url('flag/2.png') no-repeat center center;
}
.n4{
	background: url('flag/1.png') no-repeat center center;
}
.n5{
	background: url('flag/4.png') no-repeat center center;
}
.n6{
	background: url('flag/5.png') no-repeat center center;
}
.n7{
	background: url('flag/7.png') no-repeat center center;
}
.n8{
	background: url('flag/9.png') no-repeat center center;
}
.n9{
	background: url('flag/8.png') no-repeat center center;
}
.flag{
	width: 15px;
	height: 15px;
	background-size: 15px;
	margin-top: 0;
}